/* GENERAL */

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(260, 8%, 20%);
}
/* CALCULATOR */

#calculator {
    font-family: 'Century Gothic', sans-serif;
    background-color: hsl(0, 0%, 10%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display {
    width: 92%;
    padding: 20px;
    height: 10vh;
    background-color: hsl(0, 0%, 15%);
    font-size: 5rem;
    color: white;
    text-align: right;
    border: none;
}


/* BUTTONS */

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: hsl(0, 0%, 40%);
}

button:active {
    background-color: hsl(0, 0%, 50%);
}

.operator {
    background-color: hsl(258, 60%, 50%);
}

.operator:hover {
    background-color: hsl(258, 60%, 60%);
}

.operator:active {
    background-color: hsl(258, 60%, 70%);
}

.special-btn {
    background-color: hsl(258, 20%, 65%);
}

.special-btn:hover {
    background-color: hsl(258, 20%, 75%);
}

.special-btn:active {
    background-color: hsl(258, 20%, 85%);
}